
#map-container {
    width: 100%;
    height: 500px;
    margin: 10px 0 10px 0;
}

.filter-form {
    margin: 10px;
}

.seating-filters {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    .min-seating-filter, .max-seating-filter {
        margin-top: 5px;
        display: flex;
        flex-basis: 100%;
        justify-content: left;
        align-items: center;
    }
}

.seating-filter-title {
    font-weight: 600;
    margin-bottom: 5px;
}

.bench-map-list {
    
    li {
        font-size: 18px;
        background-color: rgb(233, 245, 255);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0 10px 0;
    }

    .list-bench-description {
        font-weight: 500;
        font-size: 20px;
    }

    .list-avg-rating {
        font-style: italic;
        font-weight: 300;
    }

    li:hover {
        background-color: rgb(173, 218, 255);
        text-decoration: underline;
    }
}

.map-cta {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 300;
    color: rgb(76, 132, 253);

    h3 {
        margin: 5px;
    }
}



