
.bench-show-title {
    margin: 10px;
    font-size: 28px;
    font-weight: 700px;
}

.bench-show-back-link {
    margin: 0 0 10px 10px;
}

.bench-show-map {
    margin: 10px;
    width: 90%;
}

.bench-show-img-container {
    margin: auto;
    width: 500px;
}

.bench-review-form {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    input {
        margin-top: 5px;
        display: flex;
        flex-basis: 100%;
        justify-content: left;
        align-items: center;
    }
}   

.bench-review-list-container {

    h3 {
        font-size: 20px;
        font-weight: 500px;
    }

    h5 {
        font-style: italic;
        font-size: 18px;
    }
    li {
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0 10px 0;
    }
}
.bench-show-back-link {
    display: inline-block;
    padding: 3px;
    background-color: #b0d5ff;
    border-radius: 3px;
    border: 1px solid black;
}

.bench-show-back-link:hover {
    background-color: #daebff;
}